---
# more info about these variables can be found in satellite-clone-vars.sample.yml in the root directory of this project
activationkey: changeme
org: changeme
backup_dir: /backup
required_root_free_space: 75
disable_firewall: False
run_katello_reindex: False
run_pre_install_check: True
register_to_portal: True
rhel_migration: False
disable_postgres_triggers: True
restorecon: False
skip_satellite_rpm_check: False
overwrite_etc_hosts: True
