---
# more info about these variables can be found in satellite-clone-vars.sample.yml in the root directory of this project
backup_dir: /backup
satellite_answers_path: "etc/foreman-installer/scenarios.d/satellite-answers.yaml"
config_files_path: "{{ backup_dir }}/config_files.tar.gz"
disable_firewall: False
run_katello_reindex: False
run_pre_install_check: True
register_to_portal: False
activationkey: changeme
org: changeme
enable_repos: True
rhel_migration: False
disable_postgres_triggers: True
restorecon: False
skip_satellite_rpm_check: False
overwrite_etc_hosts: True
puppet_version: 3
check_networking_interfaces: True
sp_features_table_name: smart_proxy_features
satellite_service: katello-service
