---
- name: Fail if the destination host is not rhel7 (for migration only)
  fail:
    msg: "For a RHEL migration, the destination host must be RHEL 7. The supplied host as the major version {{ ansible_distribution_major_version }}"
  when: rhel_migration and ansible_distribution_major_version != "7"

- name: find root partition's free space
  set_fact:
    root_free_space: "{{ (item.size_available | int) / 1000000000 }}"
    cacheable: true
  when: item.mount == "/"
  with_items: "{{ hostvars[inventory_hostname] ['ansible_mounts'] }}"

- debug:
    msg: "Free space in root partition is {{ root_free_space }}GB and required
          free space is atleast {{ required_root_free_space }}GB. ***NOTE:***
          If you have more pulp data, it is your responsibility to check for
          the required free space.  Perhaps you can increase the
          required_root_free_space variable to a desired high value."

- name: Check if root has enough space
  fail: msg="Your root partition should atleast have {{ required_root_free_space }}GB but it contains only {{ root_free_space }}GB"
  when: root_free_space | int <= required_root_free_space | int
