- name: Stop katello services
  command: katello-service stop

# Satellite 6.1 doesn't stop postgresql with katello-service stop
- name: Stop postgresql
  service: name=postgresql state=stopped

- name: Restore postgresql data
  command: tar --selinux --overwrite -xvf {{ backup_dir }}/pgsql_data.tar.gz -C /
  when: not rhel_migration

- include: restore_postgresql_migration.yml
  when: rhel_migration

- name: Start postgresql
  service: name=postgresql state=started

- name: Restore mongo data
  command: tar --selinux --overwrite -xvf {{ backup_dir }}/mongo_data.tar.gz -C /

- name: Restore pulp data (this may take a long time!)
  command: tar --selinux --overwrite -xvf {{ backup_dir }}/pulp_data.tar --exclude=var/lib/pulp/katello-export -C /
  when: include_pulp_data

- name: Start mongod
  service: name=mongod state=started

- name: migrate pulp db
  command: sudo -u apache pulp-manage-db
